
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#500237,#22023f);
    height: 100vh;
    
    margin: 0;
    padding: 0;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

section{background: url('image/stars1.png');
    background-size: cover;}
#chat-container {
  
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-messages {
    
    -webkit-text-stroke:0.1px cyan;
    font-size: 30px;
    background: linear-gradient(#740952,#300557);
    backdrop-filter: blur (25px);
    border: 1px solid #500237 ;

    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 4px;
}

#chat-messages div {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 4px;
}

#chat-messages div:nth-child(even) {
    background-color: #e6e6e6;
}

#user-input {
    margin: 15px;
    margin-left: 25px;
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #740952;
    border-radius: 4px;
    display: inline-block; 
    background-color: #740952;
    height: 30px;
}

button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #740952;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
   
    height: 50px;
    width: 100px;
}

button:hover {
    background-color: #6b0e54;
}
